extends ../layout

block content
    
  if book
    div.container
      form(action='/books/#{book.id}/update' method='POST')
        div.errors
          if errors
            for error in errors
              p.red= error
        div.form
          label(for='title') Title
          input.form-control.t(type='text' id='title' placeholder='Enter Title' name='title' value= book.title)
        div.form
          label(for='genre') Genre
          input.form-control.t(type='text' id='genre' placeholder='Enter Genre' name='genre' value= book.genre)
        div.form
          label(for='cover_url') Cover Image URL
          input.form-control.t(type='text' id='cover_url' placeholder='Enter URL' name='cover_url' value= book.cover_url)
        div.form
          label(for='description') Description
          textarea.form-control(rows='10' id='description' placeholder='Enter Description' name='description')= book.description
        //- div.form
        //-   label(for='author') Authors
        //-   textarea.form-control(rows='5' id='author' name='author' value= book.author)
        //- div.addAs
        //-   div.form.form-control.t
        //-       label(for='author_name')
        //-       br
        //-       select(type='text' id='author_name' name='author_name' style='width: 180px; height: 35px; font-size: 15px')
        //-         option(value='Alex Martelli' selected=book.author_name==='Alex Martelli') Alex Martelli
        //-         option(value='Anna Ravenscroft' selected=book.author_name==='Anna Ravenscroft') Anna Ravenscroft
        //-         option(value='Steve Holden' selected=book.author_name==='Steve Holden') Steve Holden
        //-         option(value='Allen B. Downey' selected=book.author_name==='Allen B. Downey') Allen B. Downey
        //-         option(value='Bonnie Eisenman' selected=book.author_name==='Bonnie Eisenman') Bonnie Eisenman
        //-         option(value='Kyle Simpson' seleceted=book.author_name==='Kyle Simpson') Kyle Simpson
        //-   div.buttons
        //-     button#addA(type='submit') Add Author
        div.buttons
          button.btn.btn-primary#addB(type='submit') Edit Book
