extends ../layout


block content      
    if books
      for book in books
        .main
          .containeru
            img.cover(src='#{book.cover_url}')
          .containero
            p.title: a(href='/books/#{book.id}') #{book.title}
            a(href='/books/#{book.id}/edit') Edit
            br
            a(href='/books/#{book.id}/delete') Remove     
            p Authored By:
            for author in book.authors
              p  
                a(href='/authors/#{author.id}') 
                #{author.first_name} #{author.last_name}
              
            p.it #{book.genre} 
            p #{book.description}
      a.ad(href='/books/new') Add a Book
          
